<#-- 引入布局指令的命名空间 -->
<#import "../layout.html" as main>
<#assign ctx=req.getContextPath()>
<#-- 调用布局指令 -->
<@main.nexmoe>
<style type="text/css" media="screen">
    #editor { 
        /*height:800px;*/
    }
</style>
<div class="mdui-container-fluid">
    <div class="nexmoe-item">

        <pre id="editor" >${content}</pre>

        <div class="mdui-textfield">
	        <label class="mdui-textfield-label">下载地址</label>
	        <input class="mdui-textfield-input" type="text" value="${realUrl}"/>
        </div>
    
    </div>
</div>
<a href="${item.downloadUrl}" class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-theme-accent"><i class="mdui-icon material-icons">file_download</i></a>
<script src="https://cdn.bootcss.com/ace/1.4.5/ace.js"></script>
<script src="https://cdn.bootcss.com/ace/1.4.5/ext-language_tools.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.setFontSize(18);
    editor.session.setMode("ace/mode/${codeType}");
    
    //Autocompletion
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true,
        maxLines: Infinity,
        readOnly:true
    });
</script>
</@main.nexmoe>