<#-- 引入布局指令的命名空间 -->
<#import "../layout.html" as main>
<#assign ctx=req.getContextPath()>
<#-- 调用布局指令 -->
<@main.nexmoe>
<div class="mdui-container-fluid">
    <div class="nexmoe-item">
		<img class="mdui-img-fluid mdui-center" src="${item.downloadUrl}" />
		<br>
		<div class="mdui-typo">
			<div class="mdui-m-t-2 mdui-m-b-1">
				<label class="mdui-text-color-black-secondary">下载地址：</label>
				<code class="js-icon-code-copy" data-clipboard-text="${realUrl}" mdui-tooltip="{content: '点击复制'}">${realUrl}</code>
			</div>
			<div class="mdui-m-t-3 mdui-m-b-1">
				<label class="mdui-text-color-black-secondary">HTML 引用地址：</label>
				<code class="js-icon-code-copy" data-clipboard-text="<img src=&quot;${realUrl}&quot; />" mdui-tooltip="{content: '点击复制'}">&lt;img src="${realUrl}" /&gt;</code>
			</div>
			<div class="mdui-m-t-4 mdui-m-b-1">
				<label class="mdui-text-color-black-secondary">Markdown 引用地址：</label>
				<code class="js-icon-code-copy" data-clipboard-text="![](${realUrl})" mdui-tooltip="{content: '点击复制'}">![](${realUrl})</code>
			</div>
		</div>
	</div>
</div>

<a href="${item.downloadUrl}" class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-theme-accent"><i class="mdui-icon material-icons">file_download</i></a>
</@main.nexmoe>