<#-- 引入布局指令的命名空间 -->
<#import "setup_layout.html" as main>
<#assign ctx=req.getContextPath()>
<#-- 调用布局指令 -->
<@main.setup>
<div class="mdui-container"> 
	<div class="mdui-container-fluid"> 
		<div class="mdui-typo"> 
			<h1>程序安装 <small>绑定微软账号</small></h1> 
		</div> 
		<a class="mdui-btn mdui-btn-raised mdui-float-left" href="?step=1">上一步</a> 
		<a href="${oauth2Url}" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right"><i class="mdui-icon material-icons"></i> 绑定账号</a>  
	</div> 
</div>
</@main.setup>
