<#-- 引入布局指令的命名空间 -->
<#import "../layout/setup.html" as main>
<#assign ctx=req.getContextPath()>
<#-- 调用布局指令 -->
<@main.setup>
	<div class="mdui-container"> 
		<div class="mdui-container-fluid"> 
			<div class="mdui-typo"> 
				<h1>程序安装 <small>应用ID和机密</small></h1> 
			</div> 
			<div class="mdui-typo"> 
				<h4 class="doc-article-title"> 填入<code>client_id</code>和<code>client_secret</code>, <a href="${appUrl}" target="_blank" class="mdui-btn mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons"></i> 获取应用ID和机密(分两个页面显示，请注意保存)</a> </h4> 
			</div> 
			<form action="/setup?s=2" method="post"> 
				<div class="mdui-textfield mdui-textfield-floating-label"> 
					<i class="mdui-icon material-icons">https</i> 
					<label class="mdui-textfield-label">应用机密(client secret)</label> 
					<input type="text" class="mdui-textfield-input" name="clientSecret" required="" value="${clientSecret}" /> 
					<div class="mdui-textfield-error">
					 	应用机密不能为空
					</div>
				</div> 
			 	<br /> 
				<div class="mdui-textfield mdui-textfield-floating-label"> 
					<i class="mdui-icon material-icons"></i> 
					<label class="mdui-textfield-label">应用 ID(client_id)</label> 
					<input type="text" class="mdui-textfield-input" name="clientId" required="" value="${clientId}" /> 
			  		<div class="mdui-textfield-error">
			   			应用 ID不能为空
			  		</div> 
				</div> 
			 	<br /> 
				<div class="mdui-textfield mdui-textfield-floating-label"> 
			  		<i class="mdui-icon material-icons"></i> 
			  		<input type="text" class="mdui-textfield-input" name="redirectUri" required="" value="${redirectUri}" /> 
			  		<div class="mdui-textfield-error">
			   			重定向URL不能为空
			  		</div> 
			 	</div> 
			 	<br /> 
			 	<a class="mdui-btn mdui-btn-raised mdui-float-left" href="?step=0">上一步</a> 
			 	<button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right" type="submit">下一步</button> 
			</form> 
		</div> 
	</div>   
</@main.setup>